.texnicle

unicode.texnicle

*.adx
*.toc
*.aux
*.glo
*.idx
*.ldx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.mw
*.sdx
*.out
*.synctex.gz
*.fdb_latexmk
book/cache/*
